{% extends "base.html" %}
{% block titulo %}Home{% endblock %}
{% block body %}
<header id="home">
    <img src="public/images/home.jpg">
    <div class="image-text">
        <h1>MY WEB</h1>
    </div>
</header>
<div class="base">
    <div class="widget">
        <h2>Blog</h2>
        <div id="posts">
            <div>
                <a href="#"><img src="public/images/house2.jpg"></a>
                <div class="titulo">
                    CASA TIPO A
                </div>
            </div>
            <div>
                <a href="#"><img src="public/images/house3.jpg"></a>
                <div class="titulo">
                    CASA TIPO B
                </div>
            </div>
            <div>
                <a href="#"><img src="public/images/house4.jpg"></a>
                <div class="titulo">
                    CASA TIPO C
                </div>
            </div>
            <div>
                <a href="#"><img src="public/images/house5.jpg"></a>
                <div class="titulo">
                    CASA TIPO D
                </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <h2>Nosotros</h2>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div>

        </div>
    </div>  
</div>
{% endblock %}
