{% extends "base.html" %}
{% block titulo %}Blog Privado{% endblock %}
{% block body %}
    <style>
        body {
            background-color: grey;
        }
    </style>
    <div class="base box-shadow" id="articulo">
        <article>
            <header>
                <h1>CASA TIPO A - articulo numero {{articuloId}}</h1>
                <p>John Doe</p>
            </header>
            <img src="/myweb/public/images/house2.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla metus ac sem semper, vel dictum erat eleifend. Nullam dictum ligula a felis aliquam, tempus ornare mi tristique. Quisque elementum elit turpis. Pellentesque est purus, feugiat eu justo vitae, pellentesque gravida risus. Duis sagittis felis et risus luctus lobortis. Nullam sed aliquet purus. Praesent in tempus dolor. Sed luctus turpis vel imperdiet vehicula. Aliquam sed est porttitor, semper nulla ac, pretium diam. Nulla varius fermentum dolor et lacinia. Ut orci ante, porttitor et pulvinar id, fermentum vel turpis. Vestibulum aliquam dapibus nisi, et sollicitudin nibh efficitur eget. Phasellus vel dignissim neque. Pellentesque tempus vehicula lacus, sed aliquam massa faucibus non. Aenean eu eros justo. Aliquam erat volutpat. </p>
            <p>Quisque accumsan, dui eget facilisis dictum, leo leo volutpat enim, porta sagittis metus lacus vitae arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam sed faucibus sem. In et ligula a leo dictum rhoncus at ut enim. Vestibulum lorem sem, ullamcorper nec ornare id, pretium gravida lorem. Quisque laoreet purus dui, quis pellentesque dolor iaculis vel. In eget libero fringilla, euismod elit ut, tristique enim. Nulla convallis, leo non tristique fringilla, metus leo tincidunt est, vitae suscipit ligula massa eget arcu. Phasellus at velit a purus lobortis gravida. Praesent iaculis eu sapien et vulputate. Nulla facilisi. Fusce non elit vel velit pretium bibendum.</p>
            <p>Donec sed convallis erat, in semper velit. In nec elementum neque. Donec pellentesque rhoncus erat, quis mattis ex tristique ut. Morbi non elementum neque, ac molestie tellus. Duis mollis risus non dolor dapibus, a porttitor dolor mollis. Maecenas sit amet condimentum lorem. Nunc cursus facilisis augue at tincidunt. Fusce vel urna vestibulum, porttitor mauris in, viverra nisl. Aliquam dapibus tortor vel vehicula malesuada. Proin vitae quam in nulla molestie efficitur.</p>
            <p>Morbi non rutrum ligula. Vestibulum non elementum tortor. Aliquam auctor est sit amet viverra aliquam. Curabitur sodales rutrum lectus eu posuere. Donec vitae ligula at diam dictum finibus ac sed velit. Integer hendrerit ultricies odio, nec tincidunt urna varius a. Maecenas rutrum tellus arcu, non scelerisque dolor condimentum a. Sed quis felis vestibulum, dictum est nec, finibus mi. Quisque vestibulum nulla arcu, ut posuere quam laoreet et. Praesent blandit tincidunt purus id dapibus. In mollis ex erat, vel ornare nulla suscipit non.</p>
            <p>Cras odio ex, pulvinar eu nunc sit amet, eleifend aliquet libero. Sed feugiat velit ut turpis fermentum, non pellentesque mauris imperdiet. Vestibulum pellentesque egestas justo, ut egestas augue mattis ut. Etiam blandit sagittis nisi vel elementum. Vivamus maximus leo eget felis scelerisque efficitur. Etiam vitae elementum urna. Mauris tempus porta justo in sollicitudin. Donec commodo nisl luctus molestie rutrum. Ut ut quam id arcu sollicitudin malesuada at at ante. Ut vel luctus dolor.</p>
        </article>
    </div>
{% endblock %}

