{% extends "base.html" %}
{% block titulo %}Blog Privado{% endblock %}
{% block body %}
    <style>
        body {
            background-color: grey;
        }
    </style>
    <div class="base box-shadow" id="blog">
        <h1>My web | Blog</h1>
        <div>
            <article><a href="blog/345">
                <header>
                    <h2>CASA TIPO A</h2>
                    <p>John Doe</p>
                </header>
                <img src="public/images/house2.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla metus ac sem semper, vel dictum erat eleifend. Nullam dictum ligula a felis aliquam, tempus ornare mi tristique. Quisque elementum elit turpis. Pellentesque est purus, feugiat eu justo vitae, pellentesque gravida risus. Duis sagittis felis et risus luctus lobortis. Nullam sed aliquet purus. Praesent in tempus dolor. Sed luctus turpis vel imperdiet vehicula. Aliquam sed est porttitor, semper nulla ac, pretium diam. Nulla varius fermentum dolor et lacinia. Ut orci ante, porttitor et pulvinar id, fermentum vel turpis. Vestibulum aliquam dapibus nisi, et sollicitudin nibh efficitur eget. Phasellus vel dignissim neque. Pellentesque tempus vehicula lacus, sed aliquam massa faucibus non. Aenean eu eros justo. Aliquam erat volutpat. </p>
            </a></article>
            <article><a href="blog/45">
                <header>
                    <h2>CASA TIPO B</h2>
                    <p>John Doe</p>
                </header>
                <img src="public/images/house3.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla metus ac sem semper, vel dictum erat eleifend. Nullam dictum ligula a felis aliquam, tempus ornare mi tristique. Quisque elementum elit turpis. Pellentesque est purus, feugiat eu justo vitae, pellentesque gravida risus. Duis sagittis felis et risus luctus lobortis. Nullam sed aliquet purus. Praesent in tempus dolor. Sed luctus turpis vel imperdiet vehicula. Aliquam sed est porttitor, semper nulla ac, pretium diam. Nulla varius fermentum dolor et lacinia. Ut orci ante, porttitor et pulvinar id, fermentum vel turpis. Vestibulum aliquam dapibus nisi, et sollicitudin nibh efficitur eget. Phasellus vel dignissim neque. Pellentesque tempus vehicula lacus, sed aliquam massa faucibus non. Aenean eu eros justo. Aliquam erat volutpat. </p>
            </a></article>
            <article><a href="blog/34">
                <header>
                    <h2>CASA TIPO C</h2>
                    <p>John Doe</p>
                </header>
                <img src="public/images/house4.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla metus ac sem semper, vel dictum erat eleifend. Nullam dictum ligula a felis aliquam, tempus ornare mi tristique. Quisque elementum elit turpis. Pellentesque est purus, feugiat eu justo vitae, pellentesque gravida risus. Duis sagittis felis et risus luctus lobortis. Nullam sed aliquet purus. Praesent in tempus dolor. Sed luctus turpis vel imperdiet vehicula. Aliquam sed est porttitor, semper nulla ac, pretium diam. Nulla varius fermentum dolor et lacinia. Ut orci ante, porttitor et pulvinar id, fermentum vel turpis. Vestibulum aliquam dapibus nisi, et sollicitudin nibh efficitur eget. Phasellus vel dignissim neque. Pellentesque tempus vehicula lacus, sed aliquam massa faucibus non. Aenean eu eros justo. Aliquam erat volutpat. </p>
            </a></article>
            <article><a href="blog/33">
                <header>
                    <h2>CASA TIPO D</h2>
                    <p>John Doe</p>
                </header>
                <img src="public/images/house5.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla metus ac sem semper, vel dictum erat eleifend. Nullam dictum ligula a felis aliquam, tempus ornare mi tristique. Quisque elementum elit turpis. Pellentesque est purus, feugiat eu justo vitae, pellentesque gravida risus. Duis sagittis felis et risus luctus lobortis. Nullam sed aliquet purus. Praesent in tempus dolor. Sed luctus turpis vel imperdiet vehicula. Aliquam sed est porttitor, semper nulla ac, pretium diam. Nulla varius fermentum dolor et lacinia. Ut orci ante, porttitor et pulvinar id, fermentum vel turpis. Vestibulum aliquam dapibus nisi, et sollicitudin nibh efficitur eget. Phasellus vel dignissim neque. Pellentesque tempus vehicula lacus, sed aliquam massa faucibus non. Aenean eu eros justo. Aliquam erat volutpat. </p>
            </a></article>
        </div>
    </div>
{% endblock %}
